* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* HERO CONTAINER */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/* IMAGE */
.hero img {
    width: 65%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* RIGHT SIDE TEXT */
.hero-text {
    width: 30%;
    padding-left: 20px;
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
}

/* EXPLORE BUTTON */
.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
