.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.hero-img {
    width: 600px;
    height: 350px;
    object-fit: cover;    /* TEST CASE YAHI CHECK KAR RAHA HAI */
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 28px;
    font-weight: bold;
}

.hero-text p {
    font-size: 15px;
    margin: 10px 0 20px;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
