* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}


.hero-text {
    width: 30%;
    padding-left: 20px;
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
