.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/* TEST CHECKS IMG → so this must apply */
.hero img {
    width: 60%;
    height: 300px;
    object-fit: cover;   /* REQUIRED */
    border-radius: 10px;
}

.hero-text {
    width: 35%;
}

.hero-text h1 {
    font-size: 28px;
    font-weight: bold;
}

.hero-text p {
    margin: 15px 0;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
